[submodule "submodules/nnUNet"]
	path = submodules/nnUNet
	url = https://github.com/becktepe/nnUNet.git
[submodule "submodules/batchgenerators"]
	path = submodules/batchgenerators
	url = https://github.com/becktepe/batchgenerators.git
[submodule "submodules/Medical-SAM2"]
	path = submodules/Medical-SAM2
	url = https://github.com/becktepe/Medical-SAM2
[submodule "submodules/MedSAM"]
	path = submodules/MedSAM
	url = https://github.com/becktepe/MedSAM
